body {
  padding: 0;
  margin: 0;
  font-family: "Nunito Sans";
}
h3 {
  font-size: 30px;
  margin: 0px;
  font-weight: 500;
  color: #fff;
}
p {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  padding-right: 15px;
}
ul {
  list-style-type: none;
  padding: 0px;
}
ul li {
  padding: 5px;
}
a {
  text-decoration: none;
  font-size: 18px;
  color: #fff;
}
a:hover {
  color: #ddd;
}
footer {
  padding: 30px;
  margin-top: 50px;
  background-color: #758283;
}
footer .row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
footer .row .col {
  width: 25%;
}
footer form input {
  height: 40px;
  line-height: 2;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  outline: none;
  border: 0px;
  margin-top: 15px;
}
footer form input:focus {
  outline: none;
  border: none;
}
footer button {
  padding: 10px 20px;
  margin-top: 15px;
  background-color: #3f4546;
  color: #fff;
  cursor: pointer;
  border: 0px;
}
footer button:hover {
  background-color: #334a4e;
}
footer .social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
footer .social .fa {
  font-size: 40px;
  padding-right: 20px;
}
@media (max-width: 900px) {
  .row .col {
    width: 100% !important;
    text-align: center;
  }
}
